/* Container Styles */
.ab-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Button Panel Styles */
.ab-button-panel {
    width: 18vw;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* Button Styles */
.ab-button-group {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width: 17vw;
    margin-left: 10px;
}

.ab-button-group button {
    text-align: left;
    background-color: #f8f8f8;
    color: #333;
}

.ab-button-group button i {
    margin-right: 12px;
}

/* Top Section Styles */
.ab-top-section span {
    font-size: 22px;
    font-weight: bold;
}

.ab-top-section i {
    font-size: 22px;
    margin-left: 15px;
}

/* Button Hover Styles */
.ab-button-group button:hover {
    background-color: #e0e0e0;
}

.ab-button-group button.active {
    background-color: #d0d0d0;
}

/* Display Section Styles */
.ab-display-section {
    margin: 12px;
}

.ab-display-section h2 {
    font-size: 21px;
}

.ab-display-section h3 {
    font-size: 18px;
}

/* Dropdown Button Styles */
.at-dropdown-button {
    background-color: #e0e0e0;
    color: #fff;
    padding: 18px;
    font-size: 17px;
    border: none;
    width: 98%;
}

/* Dropdown Icon Styles */
.at-dropdown i {
    margin-left: 8px;
}

/* Dropdown Content Styles */
.at-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 105px;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 12px;
    margin-left: 120px;
}

.at-dropdown-content a {
    color: #444;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}

button.at-dropdown-button {
    height: 50%;
}

/* Dropdown Hover Styles */
.at-dropdown-content a:hover {
    background-color: #d0d0d0;
    color: #222;
}

.at-dropdown:hover .at-dropdown-content {
    display: block;
}

.at-dropdown:hover .at-dropdown-button {
    background-color: #c0c0c0;
}

/* Category Dropdown Styles */
.cg-dropdown-button {
    background-color: #d0d0d0;
    color: #fff;
    padding: 18px;
    font-size: 17px;
    border: none;
    width: 98%;
}

.cg-dropdown i {
    margin-left: 8px;
}

.cg-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 105px;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 12px;
    margin-left: 115px;
}

.cg-dropdown-content a {
    color: #444;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}

button.cg-dropdown-button {
    height: 50%;
}

.cg-dropdown-content a:hover {
    background-color: #d0d0d0;
    color: #222;
}

.cg-dropdown:hover .cg-dropdown-content {
    display: block;
}

.cg-dropdown:hover .cg-dropdown-button {
    background-color: #c0c0c0;
}

/* Brand Dropdown Styles */
.bd-dropdown-button {
    background-color: #d0d0d0;
    color: #fff;
    padding: 18px;
    font-size: 17px;
    border: none;
    width: 98%;
}

.bd-dropdown i {
    margin-left: 8px;
}

.bd-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 105px;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 12px;
    margin-left: 130px;
}

.bd-dropdown-content a {
    color: #444;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}

button.bd-dropdown-button {
    height: 50%;
}

.bd-dropdown-content a:hover {
    background-color: #d0d0d0;
    color: #222;
}

.bd-dropdown:hover .bd-dropdown-content {
    display: block;
}

.bd-dropdown:hover .bd-dropdown-button {
    background-color: #c0c0c0;
}

/* Price Dropdown Styles */
.pd-dropdown-button {
    background-color: #d0d0d0;
    color: #fff;
    padding: 18px;
    font-size: 17px;
    border: none;
    width: 98%;
}

.pd-dropdown i {
    margin-left: 8px;
}

.pd-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 75px;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 12px;
    margin-left: 90px;
}

.pd-dropdown-content a {
    color: #444;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}

button.pd-dropdown-button {
    height: 50%;
}

.pd-dropdown-content a:hover {
    background-color: #d0d0d0;
    color: #222;
}

.pd-dropdown:hover .pd-dropdown-content {
    display: block;
}

.pd-dropdown:hover .pd-dropdown-button {
    background-color: #c0c0c0;
}
